#root {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 2rem;
  border: 1px solid #000000;
  align-items: center;
  background-color: rgb(48, 48, 48);
}


