body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.header {
  color:rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  position: relative;
  border: none;
  background: none;
  box-shadow: none;
  width: 700px;
  height: 400px;
}

video {
  border: none;
  background: none;
  box-shadow: none;
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  max-width: 1200px;
  margin: auto;
  gap: 3rem;
}

.content-text {
  flex: 1;
}

.content-text h1 {
  font-size: 2.5rem;
  color: rgb(133, 133, 133);
  margin-bottom: 1rem;
}

.content-text p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 2rem;
  max-width: 400px;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #333;
  color: #3cff00;
  border: 1px solid #3cff00;
}

.help-title:hover {
  color: #3cff00;
  transition: all 0.3s ease;
}